{% comment %} Placeholder to allow defining custom head, in principle, you can
add anything here, e.g. favicons: 1. Head over to
https://realfavicongenerator.net/ to add your own favicons. 2. Customize default
_includes/custom-head.html in your source directory and insert the given code
snippet. {% endcomment %}

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/favicon/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="/assets/favicon/site.webmanifest" />

<script
  src="https://beamanalytics.b-cdn.net/beam.min.js"
  data-token="e33f6256-cef2-46a0-83c7-259a74c73e63"
  async
></script>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap"
  rel="stylesheet"
/>
