// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

li > p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}

h1 {
  font-weight: 800;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

img,
pre,
code,
.highlight {
  border-radius: 5px;
}

.language-plaintext.highlighter-rouge {
  background-color: #f5f5f5;
  color: #da1039;
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: $spacing-unit;
    margin-top: 0;
  }
}

.post-header {
  .post-title {
    margin-bottom: $spacing-unit / 2;
    text-align: center;
  }

  .post-subtitle {
    @include relative-font-size(1.2);
    color: $brand-color;
    margin-bottom: $spacing-unit / 2;
    text-align: center;
  }

  .post-meta {
    text-align: center;
    color: $text-color;
  }
}

.post-featuredImage {
  margin-bottom: $spacing-unit;
}

.page-content {
  img {
    border: 1px solid $text-color;
    border-radius: 5px;
  }
}

// Post List v2
.post-listv2 {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-unit / 2;
}

.post-itemv2 {
  box-shadow: 0.5px 8px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  flex-basis: 32%;
  transition: box-shadow 0.15s ease-out, scale 0.15s ease-out;
  margin-bottom: $spacing-unit;
  border: 1px solid rgba(0, 0, 0, 0.07);

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    scale: 0.99;

    .post-itemv2-title {
      color: $link-hover-color;
    }
  }

  a {
    color: unset;
  }

  a:hover {
    text-decoration: none;
  }
}

.post-itemv2-featured-image {
  background-size: cover;
  background-position: center;
  // height: 240px;
}

.post-itemv2-info {
  padding: $spacing-unit;

  .post-meta {
    font-size: $small-font-size;
    margin-bottom: $spacing-unit / 2;
    color: $text-color;
  }
}

.post-itemv2-title {
  margin-bottom: $spacing-unit / 2;
}

.post-itemv2-subtitle {
  font-size: $small-font-size;
}
